# {{classname}}{{#description}}
{{description}}{{/description}}

All URIs are relative to *{{basePath}}*

Method | HTTP request | Description
------------- | ------------- | -------------
{{#operations}}{{#operation}}[**{{operationId}}**]({{classname}}.md#{{operationId}}) | **{{httpMethod}}** {{path}} | {{#summary}}{{summary}}{{/summary}}
{{/operation}}{{/operations}}

{{#operations}}
{{#operation}}
<a name="{{operationId}}"></a>
# **{{operationId}}**
> {{#returnType}}{{returnType}} {{/returnType}}{{operationId}}({{#each allParams}}{{{paramName}}}{{#unless @last}}, {{/unless}}{{/each}})

{{summary}}{{#notes}}

{{notes}}{{/notes}}

### Example
```kotlin
// Import classes:
//import {{{packageName}}}.infrastructure.*
//import {{{modelPackage}}}.*

{{! TODO: Auth method documentation examples}}
val apiInstance = {{{classname}}}()
{{#allParams}}
val {{{paramName}}} : {{{dataType}}} = {{{example}}} // {{{dataType}}} | {{{description}}}
{{/allParams}}
try {
    {{#returnType}}val result : {{{returnType}}} = {{/returnType}}apiInstance.{{{operationId}}}({{#each allParams}}{{{paramName}}}{{#unless @last}}, {{/unless}}{{/each}}){{#returnType}}
    println(result){{/returnType}}
} catch (e: ClientException) {
    println("4xx response calling {{{classname}}}#{{{operationId}}}")
    e.printStackTrace()
} catch (e: ServerException) {
    println("5xx response calling {{{classname}}}#{{{operationId}}}")
    e.printStackTrace()
}
```

### Parameters
{{#each allParams}}{{#if @first}}
Name | Type | Description  | Notes
------------- | ------------- | ------------- | -------------{{/if}}
**{{paramName}}** | {{#isPrimitiveType}}**{{dataType}}**{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isFile}}**{{dataType}}**{{/isFile}}{{^isFile}}{{#generateModelDocs}}[**{{dataType}}**]({{baseType}}.md){{/generateModelDocs}}{{^generateModelDocs}}**{{dataType}}**{{/generateModelDocs}}{{/isFile}}{{/isPrimitiveType}}| {{description}} |{{^required}} [optional]{{/required}}{{#defaultValue}} [default to {{defaultValue}}]{{/defaultValue}}{{#allowableValues}} [enum: {{#each values}}{{{.}}}{{#unless @last}}, {{/unless}}{{/each}}]{{/allowableValues}}
{{else}}This endpoint does not need any parameter.{{/each}}

### Return type

{{#returnType}}{{#returnTypeIsPrimitive}}**{{returnType}}**{{/returnTypeIsPrimitive}}{{^returnTypeIsPrimitive}}{{#generateModelDocs}}[**{{returnType}}**]({{returnBaseType}}.md){{/generateModelDocs}}{{^generateModelDocs}}**{{returnType}}**{{/generateModelDocs}}{{/returnTypeIsPrimitive}}{{/returnType}}{{^returnType}}null (empty response body){{/returnType}}

### Authorization

{{#each authMethods}}[{{name}}](../README.md#{{name}}){{#unless @last}}, {{/unless}}{{else}}No authorization required{{/each}}

### HTTP request headers

 - **Content-Type**: {{#each consumes}}{{{mediaType}}}{{#unless @last}}, {{/unless}}{{else}}Not defined{{/each}}
 - **Accept**: {{#each produces}}{{{mediaType}}}{{#unless @last}}, {{/unless}}{{else}}Not defined{{/each}}

{{/operation}}
{{/operations}}
