{{#hasEnums}}
import com.squareup.moshi.Json
{{/hasEnums}}
/**
 * {{{description}}}
{{#vars}}
 * @param {{name}} {{{description}}}
{{/vars}}
 */
data class {{classname}} (
{{#each requiredVars}}
{{>data_class_req_var}}{{#unless @last}},
{{/unless}}{{/each}}{{#if requiredVars and optionalVars}},
{{/if}}{{#each optionalVars}}{{>data_class_opt_var}}{{#unless @last}},
{{/unless}}{{/each}}) {
{{#hasEnums}}{{#vars}}{{#isEnum}}
    /**
    * {{{description}}}
    * Values: {{#allowableValues}}{{#each enumVars}}{{&name}}{{#unless @last}},{{/unless}}{{/each}}{{/allowableValues}}
    */
    enum class {{nameInCamelCase}}(val value: {{datatype}}){
    {{#allowableValues}}{{#each enumVars}}
        @Json(name = {{{value}}}) {{&name}}({{{value}}}){{#unless @last}},{{else}};{{/unless}}
    {{/each}}{{/allowableValues}}
    }
{{/isEnum}}{{/vars}}{{/hasEnums}}
}
