import com.squareup.moshi.Json

/**
* {{{description}}}
* Values: {{#each allowableValues}}{{#each enumVars}}{{&name}}{{#unless @last}},{{/unless}}{{/each}}{{/each}}
*/
enum class {{classname}}(val value: {{dataType}}){
{{#allowableValues}}{{#each enumVars}}
    @Json(name = {{{value}}}) {{&name}}({{{value}}}){{#unless @last}},{{else}};{{/unless}}
{{/each}}{{/allowableValues}}
}
